@import 'tailwindcss';

* {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
